---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Perfil</div>
  </div>

  <div class="mb-10 text-justify">
    Especializado en Ciencias de la Computación e Inteligencia Artificial, con formación avanzada y experiencia en análisis de datos y desarrollo backend. Apasionado por impulsar el rendimiento y la eficiencia organizacional mediante tecnologías innovadoras. Enfocado en diseñar soluciones que optimicen procesos y fortalezcan la colaboración en equipos, contribuyendo a la competitividad y transformación digital.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Ingeniero en Ciencias de la Computacion e Inteligencia Artificial"
      subtitle="2021 a Previsto para 2025 en Universidad Sergio Arboleda, Bogota, Colombia"
    />
    <TimeLineElement
      title="Educacion Basica y Media"
      subtitle="2010 a 2020 en Liceo Americano Mi Gran Casa Azul, Bogota, Colombia"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experiencia</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Finca Raiz Analyzer"
      subtitle="AWS, Python"
    >
    El proyecto implica la extracción de datos de un sitio web de bienes raíces mediante web scraping y el preprocesamiento de estos datos para limpiarlos y organizarlos. Los datos procesados se almacenan en Amazon RDS. Utilizando Amazon QuickSight, se realizan visualizaciones y análisis de datos. Además, los datos almacenados se utilizan para entrenar un modelo de machine learning para predecir precios de propiedades. Todo el flujo de trabajo se implementa utilizando servicios de AWS, incluyendo AWS Lambda, Amazon S3, Amazon RDS, AWS Glue y Amazon QuickSight.
    </TimeLineElement>
    <TimeLineElement
      title="Simulación de Tienda de Alquiler de Películas"
      subtitle="AWS"
    >
    Desarrollé un proyecto utilizando Amazon Web Services (AWS) para simular una tienda de alquiler de películas. El proyecto consistió en poblar una base de datos con datos simulados y procesarlos para análisis. <br>
    <b>Población de Base de Datos:</b> Diseñé y populé la base de datos con datos simulados de alquiler de películas.<br>
    <b>Preprocesamiento de Datos:</b> Utilicé AWS Glue para preprocesar y transformar los datos.<br>
    <b>Análisis y Visualización: </b> Implementé análisis y visualizaciones en Amazon QuickSight para obtener insights valiosos.
    </TimeLineElement>
    <TimeLineElement
      title="Connect EDU, Back"
      subtitle="Java, SpringBoot"
    >
    Connect Edu Back es el backend de una aplicación diseñada para ser una versión educativa de LinkedIn. La API fue desarrollada utilizando Java con Spring Boot, y su seguridad se garantizó a través de Spring Security, proporcionando una base robusta y segura para el contenido educativo de la aplicación.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certificaciones</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://platzi.com/r/juanpa.guayara/" target="_blank"> Análisis y visualización de datos con Power BI</a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/juan-pablo-guayara/overlay/1635553850981/single-media-viewer/?profileId=ACoAADMx_5gBt7D7Pb0wRkCla8ZWFwmzJuz6dIA" target="_blank"> Diplomado de Desarrollo de Software</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Habilidades</div>
  </div>

  <ul class="list-disc md:columns-2 mx-6">
    <li><b>Idiomas: </b> Español (Nativo), Inglés (B2)</li>
    <li><b>Lenguajes de Programación: </b> Pyhon, Java</li>
    <li><b>Frameworks de Desarrollo: </b> Angular, SpringBoot, Spring Security</li>
    <li><b>Servicios en la Nube: </b> AWS (S3, RDS, Glue, QuickSight, EC2)</li>

  </ul>
</BaseLayout>
