---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hola </div>
    <div class="text-5xl font-bold">Soy Juan Pablo</div>
    <div class="text-3xl py-3 font-bold">Ingeniero en Ciencias de la Computacion e Inteligencia Artificial</div>
    <div class="py-2">
      <text class="text-lg">
        Bienvenido a mi espacio, donde comparto mis proyectos y trabajos personales. Aqu铆 tambi茅n podr谩s conocer m谩s sobre m铆 y mi trayectoria profesional.
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="mailto:juanpa.guayara@outlook.com" target="_blank"> Conectar</a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">Mis Proyectos {"</>"}</div>
  </div>


  <HorizontalCard
  title="Modelos de Regresion"
  img="/Porfolio/post_img.webp"
  desc="Este proyecto tiene como objetivo el desarrollo de un modelo predictivo de Machine Learning que ayude a una empresa de electrodom茅sticos a maximizar sus ventas optimizando la inversi贸n en medios publicitarios. La empresa proporciona datos de inversi贸n en televisi贸n, radio y peri贸dicos, as铆 como datos de ventas asociadas, para analizar la efectividad de cada canal y mejorar las decisiones de inversi贸n publicitaria."
  href="/Porfolio/projects/Modelosderegresion"
  badge="Nuevo"
/>

<div class="divider my-0"></div>

  <HorizontalCard
    title="Distribuciones Libres de Escala"
    img="/Porfolio/post_img.webp"
    desc="Este proyecto aborda los conceptos fundamentales de procesos aleatorios y descomposici贸n en series temporales, explorando el comportamiento del ruido blanco, las transformaciones de datos y los m茅todos de descomposici贸n aditiva y STL en series de tiempo reales. El objetivo es desarrollar una comprensi贸n detallada de los patrones subyacentes y las t茅cnicas de transformaci贸n y an谩lisis en datos temporales."
    url="/Porfolio/projects/Distribucioneslibresdeescala"
  />

  <div class="divider my-0"></div>
  
  <HorizontalCard
    title="Forecasting"
    img="/Porfolio/post_img.webp"
    desc="Este proyecto utiliza datos econ贸micos globales para explorar el an谩lisis de series temporales y ajustar modelos predictivos. A trav茅s de t茅cnicas de regresi贸n y evaluaci贸n de modelos, se examina la evoluci贸n del GDP per capita en pa铆ses como Suecia y Suiza, y se analizan m茅tricas como MSE y R虏 para seleccionar el mejor modelo."
    url="/Porfolio/projects/Forecasting"
  />

  <div class="divider my-0"></div>
  
  <HorizontalCard
    title="Procesos Aleatorios y Descomposici贸n de Series Temporales"
    img="/Porfolio/post_img.webp"
    desc="Este proyecto aborda los conceptos fundamentales de procesos aleatorios y descomposici贸n en series temporales, explorando el comportamiento del ruido blanco, las transformaciones de datos y los m茅todos de descomposici贸n aditiva y STL en series de tiempo reales. El objetivo es desarrollar una comprensi贸n detallada de los patrones subyacentes y las t茅cnicas de transformaci贸n y an谩lisis en datos temporales."
    url="/Porfolio/projects/ProcesosAleatorios"
  />

  <div class="divider my-0"></div>
  
  <HorizontalCard
    title="Autocorrelacion"
    img="/Porfolio/post_img.webp"
    desc="Este proyecto explora los conceptos de autocorrelaci贸n y comportamiento estacional en diversas series temporales mediante an谩lisis gr谩fico y matem谩tico, utilizando datos de m煤ltiples fuentes y aplicando t茅cnicas de visualizaci贸n avanzada para la identificaci贸n de patrones de dependencia temporal."
    url="/Porfolio/projects/Autocorrelacion"
  />

  <div class="divider my-0"></div>
  
  <HorizontalCard
    title="Componentes de una Serie de Tiempo"
    img="/Porfolio/post_img.webp"
    desc="Este proyecto examina la calidad del aire mediante el an谩lisis de datos de la columna de PM2.5 en una estaci贸n de monitoreo. A trav茅s de t茅cnicas de series temporales, se identificaron patrones de comportamiento estacional y c铆clico, as铆 como tendencias relevantes en la concentraci贸n de part铆culas PM2.5."
    url="/Porfolio/projects/ComponentesDeUnaSerieDeTiempo"
  />

  <div class="divider my-0"></div>

  <HorizontalCard
    title="An谩lisis de Series Temporales: Demanda de Energ铆a y Temperatura en Victoria, Australia (2014)"
    img="/Porfolio/post_img.webp"
    desc="Este proyecto se centra en el an谩lisis de series temporales con el objetivo de explorar la relaci贸n entre la demanda de energ铆a y la temperatura en el estado de Victoria, Australia, utilizando datos reales de 2014. A trav茅s de este an谩lisis, se implementaron t茅cnicas de visualizaci贸n de datos y modelado de series temporales que revelaron patrones relevantes en la demanda energ茅tica."
    url="/Porfolio/projects/SerieDeTiempo"
    
  />

  <!-- <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  } -->
</BaseLayout>
