---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div>
      <iframe src="/notebooks/SerieDeTiempo.html" width="1000px" height="790px"></iframe>
  </div>
</BaseLayout>
